.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;

    & li {
        display: inline-block;
        padding: 5px 10px;
        background-color: yellow;

        & > a {
            color: red;

            &:hover {
                color: cyan;
            }

            &.active {
                color: cyan;
            }
        }

        /* & a:hover {
            color: cyan;
        } */
    }
}
/* nav ul li {
    display: inline-block;
    padding: 5px 10px;
    background-color: yellow;
} */

/* nav ul li a {
    color: red;
}
nav ul li a:hover {
    color: aqua;
} */